<div class="inline_station">

  <h2><%= link_to station.name, station_path(station) %></h2>
  <p class="station-coords"><a href="http://maps.google.es?q=<%= "#{station.latitude_decimal}, #{station.longitude_decimal}" -%>">
    (<%= "#{station.latitude_decimal}, #{station.longitude_decimal}" -%>)</a>
  </p>

  <% unless station.previous_station.blank? -%>
    <p>Antes era: <%= link_to station.previous_station.name, station.previous_station -%></p>
  <% end -%>
  <%- status = station.humanized_status(Time.now-1.hour) -%>
  <p class="status status-<%= status -%>">
    Estado: <%= status -%>
  </p>

</div>

