<% @body_id = 'station' %>

<% content_for :outside_map do %>
<div class="station-footer">

  <h1><%= @station.name -%></h1>
  <%= render 'stations/select_form', :stations => @stations -%>

  <%= render @station, :measurement_time => @measurement_time -%>
  
  
  <% parameters = Parameter.mandatory_city -%>
  <% start_time = @measurement_time - 48.hours -%>
  <table class="measurement_list">
  <thead>
    <tr>
      <th>Hora</th>
      <% parameters.each do |p| -%>
        <th><%= p.formulation -%></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
  <% (0..23).each do |i| -%>
    <% time_measurements = @station.measurements.taken_at(start_time+i.hours) -%>
    <tr>
      <th scope="row"><%= (start_time + i.hours).strftime('%Y/%m/%d %H:%M') -%></th>
      <% parameters.each do |p| -%>
        <% measurement = time_measurements.where(:parameter_id => p).first -%>
        <td class="<%= measurement.humanized_reading rescue 'sindatos' -%>"><%= measurement.normalized_reading rescue '--' -%></td>
      <% end -%>
    </tr>
  <% end -%>
  </tbody>
  </table>
    <div id="placeholder" style="width:600px;height:300px;"></div> 

  
  <ul class="station_summary">
    <li class="last_week">
      <div>
        <h3>Última semana</h3>
        <p class="desc">Se han sobrepasado los niveles de contaminación</p>
        <p class="value"><span>--</span> veces</p>        
      </div>
    </li>
    <li class="last_month">
      <div>
        <h3>Último mes</h3>    
        <p class="desc">Se han sobrepasado los niveles de contaminación</p>
        <p class="value"><span>--</span> veces</p>        
      </div>
    </li>
    <li class="last_year">
      <div>
        <h3>Último año</h3>        
        <p class="desc">Se han sobrepasado los niveles de contaminación</p>
        <p class="value"><span>--</span> veces</p>        
      </div>      
    </li>        
  </ul>
  <div class="do_something">
    <h3><a href="/haz-algo">Haz algo!</a></h3>
  </div>
</div>
<% end -%>

<% content_for :js do -%>
  <script type="text/javascript" src="/javascripts/jquery.flot.min.js"></script>
  <script type="text/javascript">
    $(function(){
      //maloshumos.initialize({map_labels: true});      
      var data = [];
      var headers = $('table thead th').slice(1);
      $(headers).each(function(j) {
        data[j] = { data: [], label: $(this).text()};
      });
      $('table tbody tr').each(function() {
        var measure_time = Date.parse($('th:eq(0)', this).text());
        for(var i=1; i <= headers.length; i++) {
          data[i-1].data.push([measure_time, $('td:nth-child('+(i+1)+')', this).text()])
        }
      });
      console.log(data);
      $.plot($("#placeholder"), data, { xaxis: { mode: "time" } });
        
    });
  </script>
<% end -%>



