<% @body_id = 'home' %>


<div id="home-content">
<% unless params[:map] -%>
    

  <h2 class="t"><span>Estamos hartos de la contaminación madrileña y de datos manipulados sobre el estado de nuestro aire</span></h2>
     
    <%= form_tag(stations_path, :class=> 'buscador', :method => :get) do %>
      <h3>Dinos cual es tu zona<br /> y sabrás lo que estás respirando</h3>
      <%= text_field_tag 'postal_code', nil, :class=> "text", :placeholder => 'Tu dirección' %>
      <button type="submit">Voy a tener suerte</button>
    <% end %>

  <% end -%>
</div>



<% content_for :outside_map do %>
  
  <%= render @stations -%>

  <ul id="legend">
    <li class="first"><%= image_tag 'ico-bueno.png' %> Bueno</li>
    <li><%= image_tag 'ico-admisible.png' %> Admisible</li>
    <li><%= image_tag 'ico-malo.png' %> Malo</li>
    <li><%= image_tag 'ico-muymalo.png' %> Muy malo</li>
    <li><%= image_tag 'ico-sindatos.png' %> Sin datos</li>
  </ul>
  
  <%= render 'stations/select_form', :stations => @stations, :measurement_time => @measurement_time -%>
<% end %>

<% content_for :js do -%>
  <script type="text/javascript">
    $(function(){

        $(document.createElement('p')).text('o ').appendTo('#home-content form');
        $(document.createElement('a')).text('consulta el estado de todas las estaciones »').attr({href: '#'})
          .click(function() {
            $('#home-content').hide();
            return false;
          }).appendTo('#home-content p:last');

         maloshumos.initialize({map_labels: false});
     });
  </script>
<% end -%>

