<h2>Mediciones trampa</h2>

<% content_for :js do -%>
  <script type="text/javascript">
     $(function(){
      var map = new mxn.Mapstraction('map', 'google');
      map.setCenterAndZoom(new mxn.LatLonPoint(40.41831, -3.70275), 14);
      <% @destroyed_stations.each do |station| -%>
          var station = new mxn.LatLonPoint(<%= station.latitude_decimal -%>, <%= station.longitude_decimal -%>);
          map.addMarkerWithData(new mxn.Marker(station),{
            infoBubble : "<h2><%= station.name -%></h2>",
            label : "<%= station.name -%>",
            date : "new Date()",
            marker : 4,
            //iconShadow: "/images/ico-admisible.png",
            //iconShadowSize : [45,45],
            icon : "/images/ico-locked.png",
            iconSize : [45,45],
            draggable : false,
            hover : false
          });
      <% end -%>
      <% Station.active.each do |station| -%>
          <%- next if station.latitude_decimal.blank? || station.longitude_decimal.blank? -%>
          var station = new mxn.LatLonPoint(<%= station.latitude_decimal -%>, <%= station.longitude_decimal -%>);
          map.addMarkerWithData(new mxn.Marker(station),{
            infoBubble : "<h2><%= station.name -%></h2>",
            label : "<%= station.name -%>",
            date : "new Date()",
            marker : 4,
            //iconShadow: "/images/ico-admisible.png",
            //iconShadowSize : [45,45],
            icon : "/images/ico-unlocked.png",
            iconSize : [45,45],
            draggable : false,
            hover : false
          });
      <% end -%>
      map.autoCenterAndZoom();
     });
  </script>
<% end -%>
