  <div id="wadus-content">
    <h2 class="t"><span>En los últimos años varias estaciones de Madrid han sido reubicadas en zonas menos contaminadas.</span></h2>
    <h3>No te dejes engañar</h3>
  </div>

<% content_for :js do -%>
  <script type="text/javascript">
     $(function(){
      <%= render :partial => 'shared/basic_map.js.erb' -%>
      map.click.addHandler(function() {
        $('#wadus-content').hide();
      });
      <% @destroyed_stations.each do |station| -%>
        <%- next if station.latitude_decimal.blank? || station.longitude_decimal.blank? -%>
        maloshumos.infowindow({map: map,
          title: "<%= station.name -%> ",
          content: "<h2><%= station.name -%></h2>",
          lat: <%= station.latitude_decimal -%>,
          lng: <%= station.longitude_decimal -%>,
          suffix: 'locked'
        });
      <% end -%>
      <% Station.active.each do |station| -%>
        <%- next if station.latitude_decimal.blank? || station.longitude_decimal.blank? -%>
        maloshumos.infowindow({map: map,
          title: "<%= station.name -%> ",
          content: "<h2><%= station.name -%></h2>",
          lat: <%= station.latitude_decimal -%>,
          lng: <%= station.longitude_decimal -%>,
          suffix: 'unlocked'
        });
      <% end -%>
      <% Station.moved.each do |station| -%>
        var polyline = new mxn.Polyline([
          new mxn.LatLonPoint(<%= station.latitude_decimal -%>,<%= station.longitude_decimal -%>),
          new mxn.LatLonPoint(<%= station.previous_station.latitude_decimal -%>,<%= station.previous_station.longitude_decimal -%>)]
        );
        map.addPolyline(polyline);
      <% end  %>
      map.autoCenterAndZoom();
     });

  </script>
<% end -%>
