<% content_for :js do -%>
  <script type="text/javascript">
     $(function(){
      var map = new mxn.Mapstraction('map', 'google');
      map.getMap();
      var mapTypeControl = new GMapTypeControl();
      var bottomRight = new GControlPosition(G_ANCHOR_BOTTOM_RIGHT, new GSize(10,20));
      map.getMap().addControl(mapTypeControl, bottomRight);
      var mapTypeControl = new GLargeMapControl();
      var bottomLeft = new GControlPosition(G_ANCHOR_BOTTOM_RIGHT, new GSize(890,20));
      map.getMap().addControl(mapTypeControl, bottomLeft);

      map.setCenterAndZoom(new mxn.LatLonPoint(40.41831, -3.70275), 12);
      <% @destroyed_stations.each do |station| -%>
        <%- next if station.latitude_decimal.blank? || station.longitude_decimal.blank? -%>
        maloshumos.infowindow({map: map,
          title: "<%= station.name -%> ",
          content: "<h2><%= station.name -%></h2>",
          lat: <%= station.latitude_decimal -%>,
          lng: <%= station.longitude_decimal -%>,
          suffix: 'locked'
        });
      <% end -%>
      <% Station.active.each do |station| -%>
        <%- next if station.latitude_decimal.blank? || station.longitude_decimal.blank? -%>
        maloshumos.infowindow({map: map,
          title: "<%= station.name -%> ",
          content: "<h2><%= station.name -%></h2>",
          lat: <%= station.latitude_decimal -%>,
          lng: <%= station.longitude_decimal -%>,
          suffix: 'unlocked'
        });
      <% end -%>
      <% Station.moved.each do |station| -%>
        var polyline = new mxn.Polyline([
          new mxn.LatLonPoint(<%= station.latitude_decimal -%>,<%= station.longitude_decimal -%>),
          new mxn.LatLonPoint(<%= station.previous_station.latitude_decimal -%>,<%= station.previous_station.longitude_decimal -%>)]
        );
        map.addPolyline(polyline);
      <% end  %>
      map.autoCenterAndZoom();
     });

  </script>
<% end -%>
